@mixin contentBackroundStyling{
        width: 60px;
        height: 60px;
        background-color: #08A6E4;
        border-radius: 50%;
        position: relative;
        left: 168px;
        top: 80px;
}

@mixin contentTextStyling{
    position: relative;
                        top:25px;
                        width: 100px;
                        right: 10px;
                        color: #A5A5A5;
                        font: normal normal normal 17px/20px Raleway;
}

@mixin contentNumberStyling{
    position: relative;
                        right: 22px;
                        top: 20px;
                        color:#000000;
                        text-align: center;
                        font-family: Raleway;
                        font-size: 20px;
                        font-weight: bolder;
                        letter-spacing: 5.96px;
}